@import 'tailwindcss';
@import './styles/base.pcss';
@import './styles/utilities.pcss';
@import './styles/components.pcss';

@theme {
    /* FONTS */
    --font-generalsans: 'General Sans', sans-serif;
}
